node_modules/
dist/
.review/

# All local source and generated media, including uppercase extensions.
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[jJ][pP][eE]
*.[jJ][fF][iI][fF]
*.[pP][nN][gG]
*.[aA][pP][nN][gG]
*.[gG][iI][fF]
*.[wW][eE][bB][pP]
*.[aA][vV][iI][fF]
*.[hH][eE][iI][cC]
*.[hH][eE][iI][fF]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[bB][mM][pP]
*.[iI][cC][oO]
*.[sS][vV][gG]
*.[rR][aA][wW]
*.[dD][nN][gG]
*.[cC][rR]2
*.[nN][eE][fF]
*.[aA][rR][wW]
*.[mM][pP]4
*.[mM][oO][vV]
*.[mM]4[vV]
*.[wW][eE][bB][mM]
*.[mM][kK][vV]
*.[aA][vV][iI]
*.[mM][pP][gG]
*.[mM][pP][eE][gG]
*.[mM]2[tT][sS]
*.[mM][tT][sS]
*.3[gG][pP]
*.[oO][gG][vV]
*.[mM][pP]3
*.[wW][aA][vV]
*.[mM]4[aA]
*.[aA][aA][cC]
*.[oO][gG][gG]
*.[oO][pP][uU][sS]
*.[fF][lL][aA][cC]
*.[aA][iI][fF][fF]
*.[aA][iI][fF]

# Reference assets stay local and are never published.
public/photos/

# Offline Blender source and intermediate model exports.
*.[bB][lL][eE][nN][dD]
*.[bB][lL][eE][nN][dD]1
*.[gG][lL][bB]
*.[gG][lL][tT][fF]
*.[fF][bB][xX]
__pycache__/
.DS_Store
